*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 2000px;
    width: 100%;
    padding: 20px;

}
table{
    width: 100%;
    /* border-collapse: collapse; */
}
td,th{
    padding: 8px;
    border: 1px solid rgb(222, 226, 230);
    text-align: center;
}
th{
    font-weight: 700;
}
.pagination-cont{
    margin-top: 2rem;
    width: 100%;
    display: flex;
}
.pagination{
    margin: 0 auto;
    min-width: 30%;
    /* height: 2rem; */
    display: flex;
    justify-content: space-between;
}
.pagination>*{
    width: 25%;
    padding: 0 5px;
}
button{
    width: 100%;
    /* background-color: aqua; */
    /* border: none; */
}
.search-bar{
    font-size: 12px;
    border:1px solid rgb(222, 226, 230);
    border-radius: 2px;
    height: 24px;
    width: fit-content;
    padding:0 4px;
}
#search{
    height: 100%;
    width: 75%;
    outline: none;
    border: none;
}
.search-bar:focus-within{
    border-color: #7952b3; 
    box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}
.search-bar:disabled{
    background-color: rgb(233, 236, 239)
}
.search-btn{
    width: 20%;
    height: 100%;
}
img{
    height: 3rem;
    width: 5rem;
}
/* Tablet */
@media screen and (max-width: 1200px) {
    html {
      font-size: 80%;
    }
  }
  
  @media screen and (max-width: 945px) {
    html {
      font-size: 70%;
    }
  }